/* CSS */

.display-1, 
.display-2, 
.display-3, 
.display-4, 
.display-5, 
.h1, .h2, .h3, .h4, .h5 {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.13rem;
    }

#s00 {
    background-image: url(../img/bg-home.jpeg);
    background-size: cover;
    background-position: bottom right;
}
