/* CSS */

.display-1, 
.display-2, 
.display-3, 
.display-4, 
.display-5, 
h1, h2, h3, h4, h5 {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 500;
}

#s00 {
    background-image: url(../img/bg-home.jpeg);
    background-size: cover;
    background-position: bottom right;
}

#s02 {
    background-image: url(../img/fish.jpeg);
    background-size: cover;
    background-position: bottom right;
}